#ai-content input, #ai-content select {
  border: none;
  padding: 5px;
  color: grey;
  outline: none; 
  border-radius: 2px; 
  background-color: #f1f1f186; 
  font-size: 14px; 
  width: 100%; 
  box-sizing: border-box; 
}

#ai-content div > input:not(:last-child), 
#ai-content div > select:not(:last-child) {
  margin-bottom: 10px; 
}

#ai-content input:hover, select:hover {
  background-color: #f1f1f186 
}

#ai-content input:focus, select:focus {
  background-color: #ffffffb3; 
  border: none 
}

#ai-content button {
  margin-top: 10px; 
}

#ai-content select {
  border: none;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 2px;
  background-color: #f1f1f196;
  font-size: 14px;
  width: auto; 
  box-sizing: border-box;
}

#ai-content select:hover {
  background-color: #eaeaea;
}

#ai-content select:focus {
  border: none;
}

#ai-content {
  position: relative;
  padding: 50px;
  background-color: rgb(255, 254, 250);
  border: 1px solid;
  border-color: rgba(110, 110, 110, 0.271);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.b-container, .dropdown-group {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

#ai-content p {
  opacity: 80%;
  font-size: 14px;
}

.toggle-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px; 
  font-family: "Roboto";
  margin-bottom: 20px;
}

.toggle-buttons button {
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-family: "Roboto";
  border-radius: 0px;
  border: none;
  background-color: rgb(195, 188, 172);
  opacity: 70%;
  color: #0f0f0f58;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.3s ease; 
}

.toggle-buttons button.active {
  opacity: 100%;
  color: #131313ca;
}

.toggle-buttons button:hover {
  opacity: 80%; 
}

#ai-div {
  padding-top: 80px;
}

