#hamburger-menu-div {
  display: flex;
  top: 0px;
  flex-direction: column;
  padding-left: 0px;
  width: 200px;
  height: 100vh;
  padding-top: 130px;
  background-color: rgb(201, 210, 206);
  position: fixed;
  z-index: 450;
  align-items: start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hamburger-opened-div {
  right: 0px;
  transition: 1.2s;
}

.hamburger-closed-div {
  right: -200px;
  transition: 1.2s;
}

.hamburger-menu-item-link {
  text-decoration: none;
  font-size: large;
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(48, 61, 55);
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.hamburger-menu-item-link:hover {
  color: rgb(28, 35, 31);
}

#hamburger-menu-div a.active {
  font-weight: 500;
}

@media screen and (min-width: 1000px) {
  #hamburger-menu-div {
    transition: 0s;
    visibility: hidden;
  }
}