#menu-div {  
  display: flex;
  align-items: center;
  z-index: 8000;
  position: fixed;
  background-color: rgb(224, 214, 203);
  height: 80px;
  top: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  right: 0px;
  left: 0px;
}

#logo-img {
  height: 90px;
  padding-top: 3px;
  margin-right: 50px;
  margin-left: 20px;
}

.menu-item-link, #menu-div a.active {
  text-decoration: none;
  font-size: large;
  font-weight: 500;
  padding-left: 18px;
  padding-right: 18px;
  color: rgb(31, 31, 31);
}

.menu-item-link {
  font-weight: 400;
  text-align: center;
  transition:  0.3s ease;
}

#menu-div a.active {
  font-weight: 500;
}

.menu-item-link:hover {
  color: rgb(28, 35, 31);
}

#menu-div a.active:hover {
  cursor: default;
  color: rgb(28, 35, 31);
}

#menu-icon-img {
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: none;
  right: 20px;
}

@media screen and (max-width: 800px) {
  #menu-icon-img {
    display: block;
    position: absolute;
    right: 20px;
  }
  .menu-item-link, .navbar {
    display: none;
  }
}