#product-details-modal {
  width: 80%;
  height: 450px;
  padding-left: 40px;
}

.details-modal-title {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  color: rgb(27, 37, 32);
}

.product-details-content {
  display: flex;
  flex-direction: row;
}

.details-image-div {
  display: grid;
  place-items: center;
}

.details-image {
  height: 240px;
  width: 160px;
}

.detail-div {
  display: flex;
  flex-direction: row;
}

.detail-div p {
  margin: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
  text-align: left;
}

.detail-title {
  font-weight: 600;
  color: rgb(37, 50, 44);
}

.info-div {
  padding-left: 10px;
  padding-right: 30px;
}

.value-p {
  text-align: left;
  opacity: 70%;
}

.description-container {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  height: 120px;
}

.description-p {
  padding: 0px;
  margin: 0px;
  text-align: justify;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}

.description-container::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

.description-container::-webkit-scrollbar-thumb {
  background-color: #88888800; 
  border-radius: 5px; 
  border: 2px solid #ffffff00; 
}

.description-container::-webkit-scrollbar-track {
  background: #f1f1f100; 
  border-radius: 5px;
}

.reservation-button-container {
  justify-content: right;
  padding-bottom: 10px;
  position: absolute;
  left: 42px;
  bottom: 5px;
}

.reservation-button-container p {
  text-align: center;
  background-color: rgb(216, 207, 186);
  padding: 10px;
  color: rgb(21, 21, 21);
  width: 80px;
  cursor: pointer;
  margin-left: 30px;
  opacity: 60%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.reservation-button-container p:hover {
  opacity: 100%;
}

.availability-button-container {
  position: absolute;
  left: 42px;
  bottom: 70px;
  display: flex;
}

.availability-button-container img {
  height: 24px;
  padding-top: 13px;
  opacity: 50%;
}

.availability-button-container p {
  cursor: pointer;
  opacity: 60%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: rgb(56, 76, 73);
}

.availability-container {
  height: 400px;
  width: 700px;
}

.availability-button-container p:hover {
  opacity: 100%;
}

.locations-title {
  padding-top: 0px;
  margin-top: 0px;
}