#side-menu-div {
  display: flex;
  top: 0px;
  flex-direction: column;
  padding-left: 0px;
  width: 200px;
  height: 100vh;
  padding-top: 130px;
  background-color: rgb(224, 214, 203);
  position: fixed;
  z-index: 450;
  align-items: start;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.15) -1.95px 0 2.6px;
}

.side-opened-div {
  right: 0px;
  transition: 1.2s;
}

.side-closed-div {
  right: -200px;
  transition: 1.2s;
}

.side-menu-item-link {
  text-decoration: none;
  font-size: large;
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(31, 31, 31);
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.side-menu-item-link:hover {
  color: rgb(28, 35, 31);
}

#side-menu-div a.active {
  font-weight: 500;
}

@media screen and (min-width: 800px) {
  #side-menu-div {
    transition: 0s;
    visibility: hidden;
  }
}
