body {
  font-family: 'Lora';
}

.page-div {
  padding-top: 80px;
}

.page-title {
  font-size: 2.2rem;
  text-align: center;
  opacity: 90%;
  color: rgb(37, 50, 44);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.016);
}

.content-divider {
  opacity: 10%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.button-element {
  border: 0px;
  height: 35px;
  background-color: rgb(37, 50, 44);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 2px;
  opacity: 70%;
  transition: 0.3s ease;
  font-size: 16px;
  color: whitesmoke;
  font-family: 'Lora';
  cursor: pointer;
}

.button-element:hover {
  opacity: 100%;
}

.right-button {
  position: relative;
  right: -40px;
}

.left-button {
  position: relative;
  left: -40px;
}

.input-field {
  border: 0px;
  height: 35px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 300px;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 70%;
  font-family: 'Lora';
}